

#carousel-col {
    height:65vh;
    width:85vw;
    text-align:center;

}

body{
    background-color: #000000;
}
.row{
    padding-left:3%;
}

* {
    padding:0;
    margin:0;
    border:0;
    border-spacing:0;
    font-family: Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    border-collapse: collapse;
    color: #44A0A9;

}

/*----INDICATORS-------*/
.carousal-indicators {




}

.carousel-caption h5,
.carousel-caption h3{
    color: #212121;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20pt;

}
.carousel-caption p {
    color: #212121;
    text-transform: uppercase;
    font-size:14pt;



}

#controls{
    margin: 5% 0 5% 0;
}

.col-12-* h5,
.col-12-* p {
    font-size: 10pt;
    font-weight: 900;

}


/*-------CAROUSEL PHOTOS------*/

#item-0 {
    /*background-image: url('../images/tree/simpleTree.png');*/
    background-image: url('../images/tree/borean1.png');
    height: 60vh;

}
#item-1 {
    background-image: url('../images/tree/borean2.png');
    height:60vh;

}
#item-2 {
    background-image: url('../images/tree/borean3.png');
    /*background-image: url('../images/tree/boreanIndoEuropean.jpg');*/
    height:60vh;


}
