
#project-premise-carousel {

    margin: 0 0 0 0;
    height:70%;
    width: 100%;






}

#carousel-col {
    height:65vh;
    width:85vw;
    text-align:center;

}

body{
    background-color: #272727;
}
.row{
    padding-left:3%;
}

* {
    padding:0;
    margin:0;
    border:0;
    border-spacing:0;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: #9EFFD3;

}

/*----INDICATORS-------*/
.carousal-indicators {


    display:inline;

}

.carousel-caption h3{
    color: #212121;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20pt;

}
.carousel-caption p {
    color: #212121;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16pt;

}




/*-------CAROUSEL PHOTOS------*/

#item-0 {
    /*background-image: url('../images/tree/boreanComplete.png');*/
    background-image: url('../images/tree/boreanIndoEuropean.jpg');
    height:45vh;

}

#item-1 {
    /*background-image: url('../images/tree/simpleTree.png');*/
    background-image: url('../images/tree/boreanIndoEuropean.jpg');
    height:45vh;



}
#item-2 {
    background-image: url('../images/tree/boreanIndoEuropean.jpg');
    height:45vh;

}
#item-3 {
   /* background-image: url('../images/tree/boreanNostratic.png');*/
    background-image: url('../images/tree/boreanIndoEuropean.jpg');
    height:45vh;


}
