


    *{
    margin:0;
    padding:0;
    display:block;
    border:0;
    border-spacing:0;
    border-collapse: collapse;
    box-shadow: none;
    text-shadow: none;
}
    body {
        background: #000000;
        overflow: auto;
    }
    a {
        font-weight: 900;
        text-transform: capitalize;
    }


    /* --------------BANNER-------------- */
    .banner-img {
        position:relative;
        height:35vh;
        background:url(images/bookBanner4.jpg) no-repeat;
        background-size:cover;
        z-index: 1000;
    }
    .banner-img img{
        display:block;
        width:100%;
        margin:0 auto;
    }

    /*----IFRAME------*/
    #upperFrameDiv{
        width:80vw;
        padding: 0;
        background-color: #000000;
        margin:0 3% 0 17%;
    }
    #upperFrame {

        padding: 3%;
        height: 85vh;
        width: 100%;
        box-shadow: none;
        background-color: #000000;
        margin-bottom: 0;
    }
    #lowerFrameDiv {
        width: 80vw;
        height: 50vh;
        margin: 0 0 0 15vw;
    }
    #lowerFrame{
        margin-top:0;
        margin-left: 6%;
        height: 30vh;
        width: 100%;
        overflow: hidden;


    }

    /*-----TOPBAR---------*/
    #topbar-navbar {
        height:6vh;
        position:fixed;
    }

    /*-----------SIDEBAR-----------*/
    .navbar-btn,
    .dropdown,
    .dropdown .dropdown-menu,
    .dropdown-menu {
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
        background-color: #212121;
        color: #9EFFD3;
    }
    .navbar-btn:hover{
        background-color: #ab3400;
    }
    .dropdown .dropdown-menu li a:hover {
        color: #ab3400;
    }
    .dropdown .dropdown-menu li a:active {
        color: #FFF;
    }
    .dropdown:hover {
        background-color: #44A0A9;
    }
    .dropdown .dropdown-menu li a:link,
    .dropdown .dropdown-menu li a:visited {
        color: #44A0A9;
    }
    .dropdown .dropdown-menu {
        width: 100%;
        text-align: center;
    }
    .dropdown .dropdown-menu li {
        white-space: nowrap;
}
    .dropdown .dropdown-menu li a{
        font-weight: bolder;
        text-transform: uppercase;
    }
    .nav.navbar-nav li a {                   /*--sidebar btn txt clr--*/
        color: #808080;
    }

    .dropdown-menu>.navbar-btn .nav-item.active {
        background-color: red;
    }



    /* --------------SIDEBAR--------------------*/

    #sb-row {
        height:100%;
        position:fixed;
        width:15vw;
        margin:-35vh 0 0 0;
        padding:0;
        overflow: hidden;
    }
    #sb-btn-name {
        border-top: solid #44A0A9 10vh;
        margin-top:6%;
        width:15vw;

    }
    #sb-btn-mail {
        border-bottom: solid #44A0A9 10vh;
        width:15vw;
    }
    #sb-btn-about {
        margin-top:10% ;
    }
    #sb-navbar {
        height:100%;
        width:15vw;
    }
    #sb-div-col{
        height:100%;
        width:15vw;
        margin-left: -15vw;
        padding-left: 15vw;
        margin-right: 85%;
    }
    #sb-div-col .nav {
         width: 15vw;
         height:100%;
     }
    .navbar li{                         /*----SIDEBAR FONT-----*/
        font-weight: 900;
        font-variant: all-petite-caps;
        font-size: 12pt;
        width:100%;
    }
    .nav-item {                          /*--sidebar item spacing--*/
        margin:0;
        padding:0 0 0 0;
    }


    /* -------------SIDEBAR COLLAPSE--------------*/

    @media screen and (max-width: 767px) {
        .navbar nav {
            position:relative;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }

        #upperFrameDiv {
            margin-left: 0;
        }

        #upperFrameDiv,
        .row-offcanvas-right,
        .sb-offcanvas {
            right: -15vw;
        }

        #upperFrameDiv,
        .row-offcanvas-left,
        .sb-offcanvas {
            left: -15vw;
        }
        #upperFrameDiv,
        .row-offcanvas-right.active
        {
            right: 15vw;
        }
        #upperFrameDiv,
        .row-offcanvas-left.active
        {
            left: 15vw;
        }
        .sb-offcanvas {
            position: absolute;
            top: 0;
            width: 15vw;
        }
        #sb-div-col {
            padding-top:0;

        }


    }



