


*{
margin:0;
padding:0;
display:block;
border:0;
border-spacing:0;
border-collapse: collapse;
box-shadow: none;
text-shadow: none;
font-family: Arial, sans-serif;
color: #44A0A9;
}
body {
    background-color: #000000;
    overflow: auto;
  /*  text-align: center;*/
}
a {
    font-weight: 900;
    text-transform: capitalize;
}


/* --------------BANNER-------------- */
.banner-img {
    position: relative;
    min-height:35vh;
    height:35vh;
    max-height:35vh;

    background:url(images/bookBanner4.jpg) no-repeat;
    background-size:cover;
    z-index: 1000;


}
.banner-img img{
    display:block;
    width:100%;
    margin:0 auto;
}

/*----IFRAME------*/
#upperFrameDiv{
    width:80vw;
    padding: 0;
    background-color: #000000;
    margin:0 3% 0 17%;
}
#upperFrame {

    padding: 3%;
    height: 85vh;
    width: 100%;
    box-shadow: none;
    background-color: #000000;
    margin-bottom: 0;
}
#lowerFrameDiv {
    width: 80vw;
    height: 50vh;
    margin: 0 0 0 15vw;
}
#lowerFrame{
    margin-top:0;
    margin-left: 6%;
    height: 30vh;
    width: 100%;
    overflow: hidden;


}

/*-----TOPBAR---------*/
#topbar-navbar {

    position:fixed;
}

.navbar-header .navbar-brand{
    color:#FFF;
    /*font-variant: petite-caps;*/
    font-variant: small-caps;
    font-size: 14pt;
    position: fixed;
}





/*---PAGE DIVS-----*/
.collapse,
.collapse in{
    width:75vw;
    margin:5vh 0 0  15%;
    padding: 0 5vw 0 5vw;

}







/*-----------SIDEBAR-----------*/
/*.navbar-btn,
.dropdown,
.dropdown.nav-item .dropdown-menu,
.dropdown-menu */

.navbar-btn,
#sb-dropdown,
#sb-dropdown.nav-item #sb-dropdown-menu,
#sb-dropdown-menu{
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #222222;
    color: #9EFFD3;
   /* width:auto;*/
}
.navbar-btn:hover{
    background-color: #ab3400;
}


/*.dropdown .dropdown-menu li a:hover*/
#sb-dropdown #sb-dropdown-menu li a:hover{
    color: #ab3400;
}


/*.dropdown .dropdown-menu li a:active*/
#sb-dropdown #sb-dropdown-menu li a:active {
    color: #FFF;
}


/*.dropdown:hover */
#sb-dropdown:hover {
    background-color: #44A0A9;
}


/*.dropdown .dropdown-menu li a:link,
.dropdown .dropdown-menu li a:visited */
#sb-dropdown #sb-dropdown-menu li a:link,
#sb-dropdown #sb-dropdown-menu li a:visited{
    color: #44A0A9;
}


/*.dropdown .dropdown-menu */
#sb-dropdown #sb-dropdown-menu {
    width: 100%;
    text-align: center;
}


/*.dropdown .dropdown-menu li*/
#sb-dropdown #sb-dropdown-menu li{
    white-space: nowrap;
}


/*.dropdown .dropdown-menu li a*/
#sb-dropdown #sb-dropdown-menu li a{
    font-weight: bolder;
    text-transform: uppercase;
}


.nav.navbar-nav li a {                   /*--sidebar btn txt clr--*/
    color: #808080;
}

.dropdown-menu>.navbar-btn .nav-item.active {
    background-color: red;
}



/* --------------SIDEBAR--------------------*/

.nav.navbar-nav,
.nav.navbar-nav li{
    width:15vw;
}

.nav.navbar-nav .navbar-btn {
    width:100%;
}

#sb-row {
    height:100%;
    position:fixed;
    width:15vw;
    margin:-35vh 0 0 0;
    padding:0;
    overflow: hidden;
}
#sb-btn-name {
    border-top: solid #44A0A9 7.5vh;
    margin-top:calc(5vh + 47px);
   /* width:15vw;*/

}
#sb-btn-mail {
    border-bottom: solid #44A0A9 7.5vh;
    /*width:15vw;*/
}
#sb-btn-about {
    margin-top:10.25vh;
   /* width:auto;*/
}
#sb-navbar {
    height:100%;
    width:15vw;
}
#sb-div-col{
    height:100%;
    width:15vw;
    margin-left: -15vw;
    padding-left: 15vw;
    margin-right: 85%;
}
#sb-div-col .nav {
     width: 15vw;
     height:100%;
 }
.navbar li{                         /*----SIDEBAR FONT-----*/
    font-weight: 900;
    font-variant: all-petite-caps;
    font-size: 12pt;
    width:100%;
}
.nav-item {                          /*--sidebar item spacing--*/
    margin:0;
    padding:0 0 0 0;
}

.sidebar {
    border-right: solid #222222 .1vw;
    z-index:990;
}


/* -------------SIDEBAR COLLAPSE--------------*/

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right,
    .sb-offcanvas{
        right: -15vw;
    }
    .sidebar-rollout-offcanvas{
        right: -15vw;
    }

    .row-offcanvas-left,
    .sb-offcanvas,
    .sidebar-rollout-offcanvas{
        left: -15vw;
    }
    .row-offcanvas-right.active {
        right: 15vw;
    }
    .row-offcanvas-left.active {
        left: 15vw;
    }
    .sb-offcanvas
    {
        position: absolute;
        top: 0;
        width: 15vw;
    }

    .sidebar-rollout-offcanvas{
        position:absolute;
        top: 0;
        width:15vw;
    }

    #sidebar-rollout{
        padding-top:0;
    }
    #sb-div-col {
        padding-top:0;

    }
}

    /*==================================================================================================================
                                                       PAGE: PHYSICAL SCI
    ==================================================================================================================*/

#container-modals {
    display:inline-flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-div {
    flex: 1 1 content;
    text-align: center;
}

/* ----Set Modals Scrollable -----*/
#modal-biology,
#modal-chemistry,
#modal-earth-sci,
#modal-physics
{
    max-width: calc(100vw - 30px);
    overflow-x: auto;
    position:fixed;
    background-color:#000000;
    height:100%;
}

.modal-dialog{
    width: calc(100vw - 40px);
    color: #44A0A9;
    height:100%;
}
/*----------------------------*/


/* Modal buttons */
#modal-btn-bio,
#modal-btn-chem,
#modal-btn-earth-sci,
#modal-btn-phys
{
    margin: 2%;
    border-radius: 10px;
    color: #000;
    font-weight: 900;
    font-family: Arial, sans-serif;
    height:15vh;


}

/*Modal button image height */
.button.btn.btn-danger img {
    height: 10vh;
}


/* Round-Out White Image Corners */
.img-responsive {
    border-radius: 5px;
    border: solid black .01vw;
}





    /* ==============================================================================================================
                                                     PAGE: PROJECT INFO
     ================================================================================================================*/



#project-info-row {
    padding-left: 3%;
}

/** {
    padding:0;
    margin:0;
    border:0;
    border-spacing:0;
    font-family: Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    border-collapse: collapse;
    color: #44A0A9;

}*/

#carousel-col {
    height: 55vh;
    width: 75vw;
    text-align: center;

}

/*----INDICATORS-------*/
.carousal-indicators {
    color: #44A0A9;
}

.carousel-caption h5,
.carousel-caption h3 {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20pt;
    background-color: #222;

}

.carousel-caption p {
    color: #FFF;
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: 900;
    background-color: #222
}

#controls {
    margin: 5% 0 5% 0;
}

#carousel-header p {
    font-family: Arial, sans-serif;
    font-weight: 900;
}

/*-------CAROUSEL PHOTOS------*/

#item-0 {
    background-image: url('images/tree/borean1.png');
    height: 60vh;
}

#item-1 {
    background-image: url('images/tree/borean2.png');
    height: 60vh;
}

#item-2 {
    background-image: url('images/tree/borean3.png');
    height: 60vh;
}


/*=====================================================================================================================
                                                    PAGE: FORM
======================================================================================================================*/


/*#container-form{
   margin: 5%;
}*/
form{
    margin-left:5%;
}

/*----INPUT FIELDS------*/
#subject-dropdown{
    background-color: #fff;
}
#title,
#author1,
#yearID,
#version,
#publisher,
#id-code,
#subject-dropdown{
    width: 35vw;
    background-color: #fff;
}
.dropdown-menu.multi-level a {     /* 'no file chosen' color */
    color:#000;
    font-weight:600;
}
#file-input{
    width:97%;
}                   /*NO IDEA WHY THE TWO BELOW WORK TO ALIGN W/ REST OF FORM BUT ??? */
#fileLabel{
    width:36vw;
}
.custom-file-input{
    font-family: Arial, sans-serif;
    color: #000;
    font-variant: small-caps;
    font-weight: 900;
}

/*---carets----*/
a span.caret{      /*---colors first caret  https://stackoverflow.com/a/37331752    ---*/
    color:#000;
    position: relative;
}
.dropdown-nested .caret{     /*----colors all inner carets -----*/
    color:#000;
    float:right;
    border:solid black 5px;

}

/*-----NESTED DROPDOWN------*/

.field-parent,
#firstItem,
/*.dropdown-menu,
.dropdown-menu a,
.dropdown-menu li,*/
.dropdown-nested,
.dropdown-nested a,
.dropdown-nested li,
.dropdown-menu.multi-level ul,
.dropdown-menu.multi-level ul li,
.dropdown-menu.multi-level ul li a,
.dropdown-menu.multi-level a{
    border: solid black .3vw;
    border-collapse:collapse;
    padding:0;
    /*  margin:0;*/
}
.dropdown-menu,
.dropdown-nested a {                                /*THIS IS FOR THHE SUBJECT BG COLOR */  /*.dropdown-menu.multi-level .dropdown-nested a{background-color: #856A5D; }*/
    background-color: #4F9BA3;
}
#dropdownLabel{
    margin:0;
    padding:0;
    width:100%;
    font-weight: 900;
    font-variant: small-caps;
}
.dropdown-nested .dropdown-toggle {   /*----Highlights menu items with a submenu ------*/
    background-color: #FF6D1E;
}
.dropdown-nested {
    position: relative;
    background-color: #000;

}
.dropdown-nested>.dropdown-menu {
    top: 0;
    left: 100%;
}
.dropdown-nested:hover>.dropdown-menu {
    display: block;
}
.dropdown-nested>a:after {
    display: block;  /*content: " ";*/
    float: right;
    width: 0;
    height: 0;
}
/*.dropdown-nested.pull-left {
float: none;
}*/
.dropdown-nested.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}
