*{
    margin:0;
    padding:0;
    display:block;
    border:0;
    border-spacing:0;
    border-collapse: collapse;
    box-shadow: none;
    text-shadow: none;

}

    body{
        background: #000000;
        overflow: auto;
    }

    a {

        font-weight: 900;
        text-transform: capitalize;
    }

  /*  .button{
        color:#883400
    }*/

    #text-wall {

        font-variant: all-small-caps;
        height:auto;
        width:75vw;
        overflow: auto;
        margin: 5vh 5% 5vh 17%;

    }




    /* --------------BANNER IMAGE-------------- */


    .banner-img {
        position:relative;
        height:35vh;
        background:url(images/bookBanner4.jpg) no-repeat;
        background-size:cover;
        z-index: 1000;
    }

    .banner-img img{
        display:block;
        width:100%;
        margin:0 auto;
    }


    /*----IFRAME------*/

    #pageFrame {

        padding:3% 0 0 0;
        height:85vh;
        width: 100%;
        box-shadow: none;
        border: none;
        background-color:#000000;




    }

    #mainContent{

        width:90vw;

        padding: 0;
        background-color: #000000;
        margin:0 3% 5vh 17%;
    }






    /*------trials--------*/




    /*------------*/




    #topbar-navbar {
        height:6%;
        max-height:6%;
        min-height:6vh;
        position:fixed;
    }

    /*-----------BUTTONS-----------*/

    .navbar-btn, .dropdown,.dropdown .dropdown-menu, .dropdown-menu{
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
        background-color: #212121;
        color: #9EFFD3;
    }
    .navbar-btn:hover {
        background-color: #883400;

    }

    .dropdown:hover{
        background-color: #44A0A9;
        color:#FFF;
    }



   /* .dropdown-menu-navbar-btn:hover{
        background-color: #44A0A9;
        color: #212121;
    }*/
    .dropdown .dropdown-menu {


        width: 100%;
        text-align: center;

        clear: both;
    }

    .dropdown .dropdown-menu li {
       /* margin-left: 15%;
        margin-right: 15%;*/
        white-space: nowrap;
        clear:both;
}


    .dropdown .dropdown-menu li a{
        font-weight: bolder;
        text-transform: uppercase;
    }


    .dropdown .dropdown-menu li a:link {
        color:#44A0A9;
    }

    .dropdown .dropdown-menu li a:hover {
        color: #883400;
    }

    .dropdown .dropdown-menu li a:visited {
        color: #44A0A9;
    }
    .dropdown .dropdown-menu li a:active {
        background-color: #44A0A9;
        color: #FFF;
    }


    .nav.navbar-nav li a {
        color: #808080;
    }


    a:link{
        color: #9EFFD3;
    }
    a:hover{
        color: #212121;
    }
    a:visited{
        color: #9EFFD3;
    }
    a:active{
        color: #44A0A9;
    }


    /* --------------SIDEBAR--------------------*/

    #sidebar-row {
        height:100%;
        position:fixed;
        width:15vw;
        margin:-35vh 0 0 0;
        padding:0;
        overflow: hidden;
    }

    #sidebar-name {
        border-top: solid #44A0A9 10vh;
        margin-top:5.25%;
        width:15vw;

    }
    #sidebar-email {
        border-bottom: solid #44A0A9 10vh;
        width:15vw;

    }

    #home-button {
        margin-top:10% ;
    }

    #sidebar-navbar {
        height:100%;
        width:15vw;
    }

    /*--    SIDEBAR-COL       --*/
    #sidebar{
        height:100%;
        width:15vw;
        margin-left: -15vw;
        padding-left: 15vw;
        margin-right: 85%;

    }

    /*----SIDEBAR NAV------*/
     #sidebar .nav {

         width: 15vw;
         height:100%;


     }

     /*----SIDEBAR TEXT-----*/

    .navbar li{
        font-weight: 900;
        font-variant: all-petite-caps;
        font-size: 12pt;
        width:100%;
    }


    /*----SIDEBAR LIST-------*/



    .nav-item {
        margin:0;
        padding:0 0 0 0;
    }







    /* -------------SIDEBAR COLLAPSE--------------*/

    @media screen and (max-width: 767px) {
        .navbar nav {
            position:relative;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }

        #mainContent {
            margin-left: 0;
        }

        #mainContent
        .row-offcanvas-right,
        .sidebar-offcanvas {
            right: -15vw;
        }

        #mainContent
        .row-offcanvas-left
        .sidebar-offcanvas {
            left: -15vw;
        }
        #mainContent
        .row-offcanvas-right.active
        {
            right: 15vw;
        }
        #mainContent
        .row-offcanvas-left.active
        {
            left: 15vw;
        }
        .sidebar-offcanvas {
            position: absolute;
            top: 0;
            width: 15vw;
        }
        #sidebar {
            padding-top:0;

        }


    }



