

.header-image {
    position:relative;
    height: 50vh;
    background: url(images/bookBanner4.jpg) no-repeat ;
    background-size: cover;
}

.header-image img{
    display:block;
    width:100%;
    margin: 0 auto;

}




/*SIDEBAR CODE BORROWED*/
.navbar-brand{
    color: #268bd2;
}
#pageContainer{
    background-color: #002b36;
}

.navbar-header {
    color: #268bd2;
}

body {
    padding-top: 51px;
}
.text-center {
    padding-top: 20px;
}
.col-xs-12 {
    background-color: #fff;
}

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;

}
#headerText {
    background-color: #002b36;
    color: #00b9ae;
}

#pageContent{
    border-left: solid 0.025vw white;
    text-align: justify;
    font-family: 'Verdana', monospace;
    background-color: #002b36;
    color:#fdf6e3;
}

#sidebar .nav {
    width: 95%;
}
#sidebar li {
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;
}
a:link{color:#fdf6e3;}
a:visited{color:#fdf6e3;}
a:hover{color:#002b36;}
a:active{color:#00b9ae;}
a{
    font-family: 'Verdana', sans-serif;
    font-size: 16pt;

    &:link{}
}

.button {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: #002b36;
    color: #fdf6e3;
}

.button:hover{
    background-color: #fdf6e3;
    color: #002b36;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas{
        right:
    }
    .sidebar-rollout-offcanvas{
        right: -20vw;
    }

    .row-offcanvas-left
    .sidebar-offcanvas
    .sidebar-rollout-offcanvas{
        left: -20vw;
    }
    .row-offcanvas-right.active {
        right: 20vw;
    }
    .row-offcanvas-left.active {
        left: 20vw;
    }
    .sidebar-offcanvas
    {
        position: absolute;
        top: 0;
        width: 20vw;
    }

    .sidebar-rollout-offcanvas{
        position:absolute;
        top: 0;
        width:20vw;
    }

    #sidebar-rollout{
        padding-top:0;
    }
    #sidebar {
        padding-top:0;

    }
 }
/* END SIDEBAR BORROWED*/