
body {
    background-color: #2E3138;
    color: #E7E6F4;

   /* background-image: -webkit-linear-gradient(#6C6F7D, #2E3138);
    background-image: -moz-linear-gradient(#6C6F7D, #2E3138);
    background-image: -o-linear-gradient(#6C6F7D, #2E3138);*/
    font-family: "Rubber Stamp LET", sans-serif;
    font-size: .5vw;
    padding: 0;

}


#mainContainer{
    float:left;
    padding: 0;
    margin-left: 14.9vw;
    width: 84vw;
    margin-right: 0;
    position: absolute;
    border-collapse: collapse;

}

#content {
    margin-left: 3vw;
    margin-right: 2vw;
    padding-right: 0;
    padding-left: 0;
    width: 78vw;
    padding-top: 3%;
    background-color: #030303;
    color:#E7E6F4;
    height: 100%;
    background-image: -webkit-linear-gradient(#2E3138, #6C6F7D);
    background-image: -moz-linear-gradient(#2E3138, #6C6F7D);
    background-image: -o-linear-gradient(#2E3138, #6C6F7D);
    -moz-box-shadow: inset -2px 2px 5px 5px #2E3138;
    -webkit-box-shadow: inset -2px 2px 5px 5px #2E3138;
    font-family: BPtypewrite, sans-serif;
    text-align: center;
    margin-top: 21.8vw;
    margin-bottom: 3vw;
}


#banner {
    background: #400406 url(images/bookBanner4.jpg);
    padding:0;
    color: #E6EBE0;
    width:84vw;
    height:17.1vw;
    position:absolute;
    margin: 0;
    z-index: 998;
    border-bottom: solid .05vw #E7E6F4;
}

#sideBar {

    float:left;
    margin:0;
    position: fixed;
    width: 14.9vw;
    height: 100%;
    padding-left:.7vw;
    background-color: #856A5D;
    color: #2E3138;
    font-size: 1vw;
   /* text-align: center;*/
    border-right: solid .05vw #E7E6F4;
    border-collapse: collapse;
    z-index: 1000;

}

.button {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #60463B;
    color: #CCC9E7;
}

.button:hover{
    background-color: #2E3138;
    color: #CCC9E7;
}

a:link{color:#E7E6F4;  }
a:visited{
    color:#E7E6F4;
}
a:hover{
    color:#E7E6F4;
}
a:active{
    color:#00b9ae;
}

/*#b1{

    width: 16.8vw;
    margin-left: -2.1vw;
   !* margin-right: -100%;*!
    position:relative;
}
#b2{

    width:16.8vw;
    margin-left: 14.6vw;
   !* margin-right: -100%;*!
    position: absolute;
}
#b3{
    position: absolute;

    width: 16.8vw;
    margin-left: 31.4vw;
   !* margin-right: -100%;*!
}
#b4{
    position: absolute;

    width: 16.8vw;
    margin-left: 48.2vw;
  !*  margin-right: -100%;*!
}
#b5{
    position: absolute;

    width: 16.8vw;
    margin-left: 65vw;
  !*  margin-right: -100%;*!

}*/

.col-lg-12 {
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
}

header, section, footer, aside, nav, article, figure {
    display: block;
}

#sideBarList li {

    width: 14.8vw;
    padding-top: .1vw;
    padding-bottom: .1vw;
    margin: 0;
    border-top: solid .025vw #E7E6F4;
    border-bottom: solid .025vw #E7E6F4;
    border-collapse: collapse;

}

.sideBarList2 li {
    /*font-size: 1.3vw;*/

    width: 14.8vw;
    padding-top: .1vw;
    padding-bottom: .1vw;
    margin:0;
    border-top: solid .025vw #E7E6F4;
    border-bottom: solid .025vw #E7E6F4;
    border-collapse: collapse;

}

/*.btn.btn-default {
    size: 10vw;
    align-self: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}*/

.socialBar{
    list-style:none;
    display: inline-flex;
    color: #CCC9E7;
    padding-right: 0;
    padding-left: 3vw;
    padding-top:0;
    width: 14.9vw;

}
#sideBarList{

    background-color: #001427;
    margin-top:17.0vw;
    margin-bottom: 6vw;
    list-style: none;
    padding-left: 0;
    text-align: center;
    border-right: solid .05vw #E7E6F4;
    border-bottom: solid .05vw #E7E6F4;
    border-top: solid .05vw #E7E6F4;
    width:14.95vw;
    z-index: 2;
    border-collapse: collapse;


}

.sideBarList2{

    margin-top:1.25vw;
    background-color: #001427;
    list-style:none;
    padding:0;
    text-align: center;
    border-right: solid .05vw #E7E6F4;
    border-bottom: solid .05vw #E7E6F4;
    border-top: solid .05vw #E7E6F4;
    width:14.9vw;
    z-index: 2;
    border-collapse: collapse;
    margin-right: 0;
    margin-left: 0;
}

.openParaButton{
    /*float: left;
    border: .05vw #BDC4A7;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
*/
    background-color:#BDC4A7;
    color: #2E3138;
    font-variant: all-small-caps;
    padding: .5vw 0 .5vw .05vw;
    margin: 4vw 0 4vw 0;
/*    width: 16vw;
    display: block;*/
    text-align: center;
    font-synthesis: weight;
    height: auto;

}

/*.paraOpenDiv{
    align-self: center;
    position:relative;
    left: -3vw;
    display: block;

}*/

.fa{
    color:#2E3138;
}
.fa:hover{
    color:#CCC9E7;
}
#topNavDiv{
    font-size: 1vw;
    position: absolute;
    list-style:none;
    margin-top: 17.05vw;
    margin-right: -1.55vw;

    width: 86vw;
    padding: 0;
    color: #2E3138;
    max-width: 86vw;
    z-index:1000;
    border-collapse: collapse;
    display: inline;
    margin-left:-1.55vw;





}


#topNavList li {


    padding-top: .075vw;
    padding-bottom: .075vw;
    /*padding: 0.1vw 3.75vw 0.15vw 6.25vw;*/
    border-top: solid .1vw #E7E6F4;
    border-right: solid .05vw #E7E6F4;
    border-bottom: solid .1vw #E7E6F4;
    border-left: solid .05vw #E7E6F4;
    color: #2E3138;
    z-index:1000;
    list-style:none;
    font-size: 1vw;
    text-align:center;
    width: 16.825vw;
    margin-left: -.6vw;
    display: inline-block;


}


/*h3 {
    border-bottom: solid .1vw #ffead0;
    border-right: solid .1vw #ffead0;
    color: #ffead0;

    text-align: center;
}*/


h4{

    text-align: left;
    font-style: italic;
}


#footer {
    margin-top: 3vw;
    text-align: center;
    width:78vw;
}
#footer ul {
    list-style: none;
}

#openingLetter {
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 12vw;
    max-font-size: 14vw;
    text-transform: uppercase;
    padding-left: 5.5vw;
    color: #2E3138;
    position: fixed;
    max-width: 14.7vw;
    align-self: center;
    margin-top: 0;
    margin-left: 0;

}

