
body {
    background-color: #3a445d;
    color: #C3DBC5;

    background-image: -webkit-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -moz-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -o-linear-gradient(#0D1B1E, #0D1B1E);
    font-family: BPtypewrite, sans-serif;
    font-size: 1vw;

}


#mainContainer{
    padding-right: 0;
    padding-left: 0;
    margin-left: 17vw;
    width: 81vw;
}
    #banner {
        /*https://cdn.pixabay.com/photo/2010/12/13/10/31/book-2869__340.jpg*/
        /*https://static.pexels.com/photos/590493/pexels-photo-590493.jpeg*/
    background: #400406 url(images/oldBooksBannerCrop.jpg);
    padding-right: 0;
    padding-left: 0;
    color: #E6EBE0;
    width:82vw;
    height:17vw;
    text-align: center;
    position:absolute;
    margin-left: 0vw;
}

#sideBar {
    margin-left: 0;
    margin-right: 0;
    position: fixed;
    width: 17vw;
    height: 100%;
    padding-right: 0;
    padding-left: 0;

    background-color: #6B9080;
    color: #C3DBC5;

    text-align: center;
    text-transform: uppercase;


}
#innerBannerDiv{

}

.col-lg-12 {
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
}

header, section, footer, aside, nav, article, figure {
    display: block;
}

#sideBarList li {
    font-size: 1vw;
    width: 17vw;
    padding-right: 0;
    padding-left: 0;

}
#sideBarList{
    margin-top:17vw;
    list-style-type: none;
    padding-bottom: 4%;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    width:17vw;



}

#topNavDiv{
    position: absolute;
    list-style: none;
    margin-top: 16vw;
    margin-right: 0;
    margin-left: 0vw;
    margin-bottom: 4%;
    width: 83vw;
    padding-right: 0;
    padding-left: 0;
}


#topNavList li {
    border-collapse: collapse;
    display: inline;
    padding: 0.5vw 5vw .5vw 5.5vw;
    border-bottom: solid 3px #fcdebe;
    border-right: solid 3px #fcdebe;
    color: #C3DBC5;
    font-size: 1vw;

}
h3 {
    border-bottom: solid 3px #fcdebe;
    border-right: solid 3px #fcdebe;
    color: #C3DBC5;
    padding: 0;
    text-align: center;
}
#content {
    margin-left: 1vw;
    padding-right: 0;
    padding-left: 0;
    width: 79vw;
    padding-top: 3%;
    background-color: #9BC1BC;
    color:#C3DBC5;
    height: 100%;
    background-image: -webkit-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -moz-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -o-linear-gradient(#0D1B1E, #0D1B1E);
    -moz-box-shadow: inset -2px 2px 5px 5px #0E0E0E;
    -webkit-box-shadow: inset -2px 2px 5px 5px #0E0E0E;
    box-shadow: inset -2px 2px 5px 5px #0E0E0E;
    font-family: BPtypewrite, sans-serif;
    text-align: center;
    margin-top: 20vw;
}



#footer {
    text-align: center;
    margin-left: 5vw;
}
#footer ul {
    list-style: none;
}



