/* Theme A:
    - ED6A5A Terra Cotta
    - 5D576B Black Coral
    - F4F1BB Blond
    - 9BC1BC Cambridge Blue
    - E6EBE0 Platinum
    */


body {
    background-color: #3a445d;
    color: #C3DBC5;

    background-image: -webkit-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -moz-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -o-linear-gradient(#0D1B1E, #0D1B1E);
    font-family: BPtypewrite, sans-serif;
    font-size: 1vw;

}


#mainContainer{
    margin-left: 17vw;
}
#banner {
    background-image: url(images/oldBooksBannerCrop.jpg);
    background-color: #400406;
    color: #E6EBE0;
    width:83vw;
    height:17vw;
    text-align: center;
    position:absolute;
}

#sideBar {

    position: fixed;
    width: 17vw;
    height: 100vw;

    background-color: #6B9080;
    color: #C3DBC5;

    text-align: center;
    text-transform: uppercase;


}

header, section, footer, aside, nav, article, figure {
    display: block;
}

#sideBarList li {
    font-size: 1vw;
}
#sideBarList{
    margin-top:17vw;
    list-style-type: none;
    padding-bottom: 4%;
    text-align: center;

}

#topNavDiv{
    list-style: none;
    margin: 16vw 0 4vw 0vw;

    align-content: flex-end;
    text-align: left;
    width: 80vw;

}


#topNavList li {
    display: inline;
    padding-left:5.5vw;
    padding-right:5vw;


    border-bottom: solid 3px #fcdebe;
    border-right: solid 3px #fcdebe;
    color: #C3DBC5;

    font-size: 1vw;
}
h3 {
    border-bottom: solid 3px #fcdebe;
    border-right: solid 3px #fcdebe;
    color: #C3DBC5;
    padding: .5%;
    text-align: center;

}







#content {
    margin-left: 5vw;
    width: 70vw;
    padding-top: 3%;
    background-color: #9BC1BC;
    color:#C3DBC5;
    height: auto;
    text-align: center;
    background-image: -webkit-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -moz-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -o-linear-gradient(#0D1B1E, #0D1B1E);
    -moz-box-shadow: inset -2px 2px 5px 5px #0E0E0E;
    -webkit-box-shadow: inset -2px 2px 5px 5px #0E0E0E;
    box-shadow: inset -2px 2px 5px 5px #0E0E0E;
    font-family: BPtypewrite, sans-serif;
}



#footer {
    text-align: center;
    margin-left: 17vw;
}
#footer ul {
    list-style: none;
}



