
body {
    background-color: #3a445d;
    color: #C3DBC5;

    background-image: -webkit-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -moz-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -o-linear-gradient(#0D1B1E, #0D1B1E);
    font-family: BPtypewrite, sans-serif;
    font-size: 1vw;

}


#mainContainer{
    margin-left: 17vw;
    width: 83vw;
}
    #banner {
    background: #400406 url(https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581__340.jpg);
    color: #E6EBE0;
    width:83vw;
    height:17vw;
    text-align: center;
    position:absolute;
}

#sideBar {

    position: fixed;
    width: 17vw;
    height: 100%;

    background-color: #6B9080;
    color: #C3DBC5;

    text-align: center;
    text-transform: uppercase;


}

header, section, footer, aside, nav, article, figure {
    display: block;
}

#sideBarList li {
    font-size: 1vw;
}
#sideBarList{
    margin-top:17vw;
    list-style-type: none;
    padding-bottom: 4%;
    text-align: center;

}

#topNavDiv{
    position: absolute;
    list-style: none;
    margin-top: 16vw;
    margin-right: 0;
    margin-left: 0vw;
    margin-bottom: 4vw;
    width: 83vw;
}


#topNavList li {
    border-collapse: collapse;
    display: inline;
    padding: 0.5vw 5vw .5vw 5.5vw;
    border-bottom: solid 3px #fcdebe;
    border-right: solid 3px #fcdebe;
    color: #C3DBC5;
    font-size: 1vw;
}
h3 {
    border-bottom: solid 3px #fcdebe;
    border-right: solid 3px #fcdebe;
    color: #C3DBC5;
    padding: .5%;
    text-align: center;
}
#content {
    margin-left: 5vw;
    width: 83vw;
    padding-top: 3%;
    background-color: #9BC1BC;
    color:#C3DBC5;
    height: 100%;
    background-image: -webkit-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -moz-linear-gradient(#0D1B1E, #0D1B1E);
    background-image: -o-linear-gradient(#0D1B1E, #0D1B1E);
    -moz-box-shadow: inset -2px 2px 5px 5px #0E0E0E;
    -webkit-box-shadow: inset -2px 2px 5px 5px #0E0E0E;
    box-shadow: inset -2px 2px 5px 5px #0E0E0E;
    font-family: BPtypewrite, sans-serif;
}



#footer {
    text-align: center;
    margin-left: 5vw;
}
#footer ul {
    list-style: none;
}



